@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800&display=swap');

/* Reset */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

/* Custom Properties */
:root {
    --primary-color: #3195ff;
  --secondary-color: #333;
  --dark-color: #000;
  --light-color: #f4f4f4;
  --header-opacity: 0.7;
    --accent: #3DB45E;
    --dark: #17191D;
    --light: #f4f4f4;
    --overlay: rgba(23,25,29,0.8);
    --ease: all 0.3s ease 0s;
}

body {
    background-color: var(--dark);
    font-family: 'Poppins', sans-serif;
}
a {
    color: #fff;
    text-decoration: none;
  }
p, button, h1, h4 {
    color: var(--light);
}

p, h1 {
    font-weight: 400;
}

h4, button {
    font-weight: 700;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

p, h4 {
    font-size: 18px;
}

button {
    cursor: pointer;
    transition: var(--ease);
}

button:hover {
    transform: scale(1.02);
}
/* Form Input */
input[type='email'],
input[type='text'] {
  width: 100%;
  padding: 15px 10px;
  border: 0;
  border-radius: 5px;
  font-size: 16px;
}
input:focus {
    outline: 0;
  }
  section {
    padding: 20px;
}
  .container {
    max-width: 1100px;
    margin: auto;
  }
.wrapper{
    position: relative;
}
.navbar {
    background-color: #000;
    height: 70px;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 50px;
    position: fixed;
    z-index: 10;
    opacity: 0.8;
  }
  
  .navbar img {
    display: block;
    width: 108px;
    height:90px;
    object-fit:contain;
    object-position: left
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar ul {
    display: flex;
  }
  
  .navbar ul a {
    margin-left: 30px;
    padding-bottom: 5px;
  }
  
  .navbar ul a:hover {
    color: var(--primary-color);
    border-bottom: 2px var(--primary-color) solid;
  }
.banner__section {
    position: relative;
    background: url("/banner1.png") no-repeat center center/cover;
    height: 1100px;
    width: 100%;
    text-align: center;
    padding: 0 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .banner__section::before {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, var(--header-opacity));
    position: absolute;
    top: 0;
    left: 0;
}
.banner__section header {
    position: relative;
    z-index: 2;
    width: 700px;
    margin: 0 auto;
}
.banner__section header h5 {
    font-size: 20px;
    color: var(--primary-color);
}
.banner__section header h1 {
    font-size: 65px;
    line-height: 1.4;
    text-transform: uppercase;
    font-weight: 700;
}
.banner__section header p.lead {
    font-size: 20px;
    margin: 30px 0;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.email .container, .social .container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    justify-content: space-between;
    align-items: center;
}
.email h3, .social h3 {
    font-size: 23px;
    text-transform: uppercase;
}
.email form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.email form input {
    width: 60%;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border: 1px transparent solid;
}
.email .btn {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.content__section {
    grid-area: content__section;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    grid-template-areas: 
    ". playlist__one ."
    ". playlist__two .";
    margin-bottom: 60px;
}
.stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-top: 120px;
}

.stats img {
  width: 100px;
  height: 100px;
}

.stats svg {
  width: 100px;
  height: 100px;
  fill: #fff;
  color: #fff;
}

.stats h3 {
  font-size: 50px;
  color: #fff;
}

.stats p {
  font-size: 20px;
  margin-top: 0;
}
.social div {
  justify-self: end;
} 
.social div a + a{
  margin-left: 30px;
}
.playlist__one {
    grid-area: playlist__one;
}

.playlist__two {
    grid-area: playlist__two;
}

.playlist__title {
    margin: 30px 0;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #000;
    color: #fff;
    font-size: 15px;
    padding: 5px 25px;
    text-align: center;
    font-weight: 700;
    line-height: 2.4rem;
    border: 1px transparent solid;
  }
  
  .btn-primary {
    background-color: var(--primary-color);
  }
  
  .btn-primary:hover {
    background-color: transparent !important;
    color: #fff;
    border: 1px solid #fff;
  }
  
  .btn-secondary {
    background-color: var(--secondary-color);
  }
  
  .btn-secondary:hover {
    background-color: var(--primary-color);
  }
  
  .btn-primary-outline {
    background-color: transparent;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
  }
  
  .btn-primary-outline:hover {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
  }
  
  .btn-dark {
    background-color: var(--dark-color);
  }
  
  .btn-dark:hover {
    background-color: var(--secondary-color);
  }
  
  .btn-light {
    background-color: var(--light-color);
    color: #333;
  }
  
  .btn-light:hover {
    opacity: 0.9;
  }
  
  .btn-patreon {
    background-color: #f56854;
    color: #fff;
    margin: auto;
    display: block;
    border-left: #333 5px solid;
    margin-top: 20px;
  }
  
  .btn-patreon:hover {
    transform: scale(0.98);
  }
  
  .btn-more {
    margin: 40px auto;
    width: 100%;
  }
  
  /* Text Colors */
  .text-primary {
    color: var(--primary-color);
  }
  
  .text-red {
    color: #ea5252;
  }
  
  .text-light {
    color: #777;
  }
  

  .text-small {
    font-size: 12px;
  }
  
  .text-lg {
    font-size: 35px;
  }
  
  .lead {
    font-size: 20px;
  }
  section h2 {
    text-align: center;
}
  /* Text Align */
  .text-center {
    text-align: center;
  }
  
  
  .bg-primary {
    background-color: var(--primary-color);
    color: #fff;
  }
  
  .bg-light {
    background-color: var(--light-color);
    color: #333;
  }
  
  .bg-dark-pattern {
    background-image: url('/bg-pattern-1.png');
    color: #fff;
  }
  
  .bg-light-pattern {
    background-image: url('/bg-pattern-2.png');
    color: #333;
  }
  
  .bg-videos {
    background: url('/videos-bg.png') no-repeat center center/cover;
    color: #fff;
  }
  .courses h2 {
    margin: 30px 0 20px;
  }
  
  .courses h2:nth-of-type(2) {
    margin: 50px 0 30px;
  }
  
  .courses p:nth-of-type(1) {
    font-size: 17px;
    margin-bottom: 30px;
  }
  
  .courses .promo-code {
    position: absolute;
    bottom: -35px;
    left: 50%;
    /* right: 5px; */
    transform: translateX(-50%);
    font-size: 13px;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
  }
  
  .courses .card:hover .promo-code {
    opacity: 1;
  }
  
  .courses .promo {
    font-size: 13px;
    font-weight: bold;
    color: #ea5252;
    /* background: #000; */
    margin-left: 10px;
    padding: 3px;
  }
  
  .courses .promo-code span {
    color: #ea5252;
  }
  
  .course-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
  }
  
  .course-grid .card-body {
    padding-top: 30px;
    height: 150px;
  }
  
  .course-grid .card-footer {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .course-grid .card-footer img {
    width: 30px;
    margin-right: 10px;
  }
  
  .course-grid.more {
    margin-top: 40px;
    display: none;
  }
  
  .course-grid.more.show {
    display: grid;
  }
  
  .course-grid .course-img {
    width: 60px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .course-grid a:hover {
    color: #ea5252;
  }
  
  .course-grid .level {
    margin-bottom: 5px;
    color: var(--primary-color);
    text-transform: uppercase;
  }
  .card {
    background-color: #222;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    position: relative;
    border: #333 solid 1px;
  }
  
  .card-light {
    background-color: #f4f4f4;
    color: #333;
    border: #eee solid 1px;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.videos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
}

.video {
    height: 180px;
    grid-column-start: span 3;
    position: relative;
    transition: var(--ease);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.video:hover {
    transform: scale(1.02);
}

.video svg {
    cursor: pointer;
    font-size: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: var(--light);
    opacity: 0.85;
    transition: var(--ease);
}

.video i:hover {
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .video {
        grid-column-start: span 6;
        height: 240px;
    }
}

@media only screen and (max-width: 800px) {
    .video {
        grid-column-start: span 12;
    }
}